.service{
  padding : 10px;

.serviceWrapper{
   position : relative;
  width : 200px;
  height : 200px;

  img{
    width:100%;
    height:100%;

    border-radius:15px;
    object-fit: cover;

  }
  .text{
    display:flex;
    background-color:#00E0FF;
    color : white;
    top: 75%;
    //opacity: 0.8;
    width:100%;
    border-radius:15px;
    cursor: pointer;


    position : absolute;
    h2{
      width :100%;
      font-size:20px;
      text-align:center;

    }
  }
}

}

.carts{
display: flex;
  flex-flow:wrap;
  padding : 5%;
  //justify-content:center;
  //flex : 0 1 1;

}